<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Lume would like to access your photo library to select profile photos</string>
	<key>NSCameraUsageDescription</key>
	<string>Lume would like to access your camera to take profile photos</string>
</dict>
</plist>
